{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "useTabs": true
      }
    ]
  }
}